if SHIELD_EBE40_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "ebe40"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EBE40_LEFT || SHIELD_EBE40_RIGHT

config ZMK_SPLIT
    default y

endif
